body {
  font-family: Arial, sans-serif;
  background-color: #2a2d33;
  color: #fff;
  font-size: 50px;
}

p {
  font-size: 20px;
}

.belangerijk {
  color: red;
  font-weight: 700;
}

.fraonDefruyt {
  color: black;
}

.paars {
  color: purple;
  font-size: 50px;
}

paars {
    color: #3a6bce;
}

#groen {
    color: green;
}